* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

body {
  min-height: 100vh;
  position: relative;
}

footer {
  bottom: 0;
}
#foreground {
  /*background-color: rgb(43, 41, 44);*/
  box-shadow: 0 6px 60px 0 rgba(0, 0, 0, 0.6), 0 6px 60px 0 rgba(0, 0, 0, 0.6);
}

html {
  background: green;
}

.navbar {
  width: 100%;
  height: 70px;
  background: rgb(18, 18, 18);
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

#themeIcon {
  background: black;
  padding: 1rem;
  border-radius: 100%;
  border: 1px solid rgb(243, 250, 250);
  color: white;
  margin-top: 0.5rem;
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: 3;
  animation: shake 6s linear infinite;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
.header {
  padding: 6rem;
  text-align: center;
  background: rgb(92, 92, 92);
  background: repeating-linear-gradient(
    to right,
    rgba(92, 92, 92, 1) 0%,
    rgba(57, 57, 57, 1) 50%,
    rgba(18, 18, 18, 1) 100%
  );
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
  color: white;
}

.shapeContainer {
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.6));
  margin: 0 auto;
}

contact-links, contact-links:visited {
  color: rgb(51, 51, 51);
}

.aboutMe {
  margin: 1rem;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navbar-item {
  color: rgb(243, 250, 250);
  padding: 0.5rem;
  text-decoration: none;
}

.navbar-item::after {
  display: block;
  content: '';
  border-bottom:  2px solid rgb(27, 124, 235);
  width: 100%;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navbar-item:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.noStyleLink,
.noStlyeLink:hover {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

hr {
  margin-left: 1rem;
  margin-right: 1rem;
  border: none;
  height: 1px;
  background-color: rgb(207, 214, 214);
}

.navAnchor {
  text-decoration: none;
}

#portfolioItemDiv {
  margin: 2rem;
  padding: 0.7rem;
}

.portfolioText {
  text-align: left;
  margin: 0.5rem;
  color: rgb(51, 51, 51);
}

.footer-icon {
  margin-left: 1em;
  margin-right: 1em;
  color: rgb(51, 51, 51);
  transition: all .2s ease-in-out; 
}

#githubIcon:hover {
  color: #333333;
  transform: scale(1.3); 
}

#linkedInIcon:hover {
  color: #0072b1;
  transform: scale(1.3); 
}

#twitterIcon:hover {
  color: #1DA1F2;
  transform: scale(1.3); 
}

#twitchIcon:hover {
  color: #6441A4;
  transform: scale(1.3);
}

